header {
  height: 5vw;
  @extend %flex-end;
  width: 100%;
  padding-right: 2vw;
  font-size: 1.5vw;
  background: rgba(220, 239, 245, 0.274);
  ul {
    width: 30%;
    @extend %flex-around;
  }
  .boule:hover {
    text-shadow: $tshadow;
    font-size: 2vw;
  }
  a {
    @extend %width;
  }
}
