@media screen and (max-width: 768px) {
  .proj_cards {
    &_bloc {
      @include flex(flex, column, wrap, space-around, center);
      aside {
        width: 70%;
        margin: auto;
      }
    }
  }
  .projet {
    height: 25vw;
    &_tit {
      z-index: 1;
    }
    &_txt {
      visibility: visible;
      z-index: 1;
      @include width(50%);
      right: 0;
      top: 5vw;
    }
    &_img {
      z-index: 1;
    }
    &_lang {
      z-index: 1;
    }
  }
  .projet:hover {
    .projet {
      &_tit {
        z-index: 1;
      }
      &_txt {
        z-index: 1;
      }
      &_img {
        z-index: 1;
      }
      &_lang {
        z-index: 1;
      }
    }
  }
  .timeline {
    .column {
      &::before {
        left: 25px;
        height: calc(100% / 5 * 4);
        top: 50px;
      }
      .row {
        flex-flow: column wrap;
        height: 140px;
      }
      .row:nth-child(even) {
        flex-direction: column;
      }
      .row:nth-child(even) > .time:last-child {
        text-align: start;
      }
      .icon {
        order: 1;
        flex: 1 1 100%;
        padding-top: 50px;
        width: 50px;
        div {
          @include width(25px, 30px);
          i {
            font-size: 1rem;
          }
        }
      }
      .time {
        order: 2;
        flex: 1 1 50px;
        width: calc(100% - 100px);
      }
      .text {
        order: 3;
        flex: 1 1 calc(100% - 50px);
        width: calc(100% - 100px);
      }
      .row:nth-child(odd) h3::before,
      .row:nth-child(even) h3::before {
        content: "";
        position: absolute;
        top: 5px;
        left: -20px;
        border: 10px solid rgba(0, 0, 0, 0);
        border-right-color: black;
      }
      .row:nth-child(odd) h3::after {
        border: none;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .timeline > .column > .row {
    height: 120px;
  }
}

@media screen and (max-width: 300px) {
  .timeline {
    .column {
      .text {
        width: 60%;
      }
      .timelineText {
        font-size: 1.4em;
        padding: 2vw;
      }
    }
  }
  .hexagon-competence {
    &_container {
      grid-auto-rows: calc(var(--hex-width) - 28.87px / 10);
    }
  }
}
