:root {
  /* Change this to change the appearance of the hexaons */
  --hex-width: 12vw;
  --hex-between: 3vw;

  /* Other hexagon dimentions */
  --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
  --hex-transition: all 0.2s ease;

  /* Colors */
  --color-hex-default: #000000;
  --color-hex-hover: #ffffff;
  --color-vscode: #0081dd;
  --color-figma: #000000;
  --color-mongodb: #499d4a;
  --color-css: #1572b6;
  --color-git: #000000;
  --color-lighthouse: #304ffe;
  --color-html: #e34f26;
  --color-javascript: #f7df1e;
  --color-reactjs: #00d8ff;
  --color-sass: #cc6699;
  --color-nodejs: #4fc08d;
  --color-expressjs: #f7df1e;
}

/* Hexagons */
.hexagon-competence {
  z-index: 1;
  h2 {
    width: 20vw;
    margin: 6vw auto;
    padding: 0;
    font-size: 2vw;
  }
  &_container {
    display: grid;
    justify-content: center;
    grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(
        --hex-width
      );
    grid-auto-rows: calc(var(--hex-width) - 28.87px / 2);
    grid-gap: var(--hex-between) var(--hex-between);
    padding-bottom: var(--hex-border);
  }
  &_outil {
    align-items: center;
    background-color: var(--color-hex-default);
    display: flex;
    fill: white;
    height: var(--hex-height);
    justify-content: center;
    margin: var(--hex-border) 0;
    position: relative;
    transition: var(--hex-transition);
    width: var(--hex-width);
    img {
      height: 75%;
      transition: var(--hex-transition);
    }
    svg {
      height: 75%;
      transition: var(--hex-transition);
    }
    &::after {
      border-top: var(--hex-border) solid var(--color-hex-default);
      top: 100%;
      width: 0;
    }
    &::after,
    &::before {
      border-left: var(--hex-margin) solid transparent;
      border-right: var(--hex-margin) solid transparent;
      content: "";
      left: 0;
      position: absolute;
      transition: var(--hex-transition);
      width: 0;
    }
    &::before {
      border-bottom: var(--hex-border) solid var(--color-hex-default);
      bottom: 100%;
    }

    &:nth-child(8n + 5),
    &:nth-child(8n + 6),
    &:nth-child(8n + 7),
    &:nth-child(8n + 8) {
      margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
    }
  }
  .hexagon-competence_outil:hover {
    background-color: var(--color-hex-hover);
    &::after,
    &::before {
      border-top-color: var(--color-hex-hover);
      border-bottom-color: var(--color-hex-hover);
    }
  }

  /* Colors */
  .color-sass {
    background-color: var(--color-sass);
  }
  .color-sass::after,
  .color-sass::before {
    border-top-color: var(--color-sass);
    border-bottom-color: var(--color-sass);
  }
  .color-sass:hover {
    fill: var(--color-sass);
  }

  .color-vscode {
    background-color: var(--color-vscode);
  }
  .color-vscode::after,
  .color-vscode::before {
    border-top-color: var(--color-vscode);
    border-bottom-color: var(--color-vscode);
  }
  .color-vscode:hover {
    fill: var(--color-vscode);
  }

  .color-lighthouse {
    background-color: var(--color-lighthouse);
  }
  .color-lighthouse::after,
  .color-lighthouse::before {
    border-top-color: var(--color-lighthouse);
    border-bottom-color: var(--color-lighthouse);
  }
  .color-lighthouse:hover {
    fill: var(--color-lighthouse);
  }

  .color-reactjs {
    background-color: var(--color-reactjs);
  }
  .color-reactjs::after,
  .color-reactjs::before {
    border-top-color: var(--color-reactjs);
    border-bottom-color: var(--color-reactjs);
  }
  .color-reactjs:hover {
    fill: var(--color-reactjs);
  }

  .color-git {
    background-color: var(--color-git);
  }
  .color-git::after,
  .color-git::before {
    border-top-color: var(--color-git);
    border-bottom-color: var(--color-git);
  }
  .color-git:hover {
    fill: var(--color-git);
  }

  .color-html {
    background-color: var(--color-html);
  }
  .color-html::after,
  .color-html::before {
    border-top-color: var(--color-html);
    border-bottom-color: var(--color-html);
  }
  .color-html:hover {
    fill: var(--color-html);
  }

  .color-javascript {
    background-color: var(--color-javascript);
  }
  .color-javascript::after,
  .color-javascript::before {
    border-top-color: var(--color-javascript);
    border-bottom-color: var(--color-javascript);
  }
  .color-javascript:hover {
    fill: var(--color-javascript);
  }

  .color-nodejs {
    background-color: var(--color-nodejs);
    img {
      width: 100%;
      height: 150%;
    }
  }
  .color-nodejs::after,
  .color-nodejs::before {
    border-top-color: var(--color-nodejs);
    border-bottom-color: var(--color-nodejs);
  }
  .color-nodejs:hover {
    fill: var(--color-nodejs);
  }

  .color-mongodb {
    background-color: var(--color-mongodb);
    svg {
      height: 130%;
    }
  }
  .color-mongodb::after,
  .color-mongodb::before {
    border-top-color: var(--color-mongodb);
    border-bottom-color: var(--color-mongodb);
  }
  .color-mongodb:hover {
    fill: var(--color-mongodb);
  }

  .color-expressjs {
    background-color: var(--color-expressjs);
    p {
      font-size: 0.8em;
    }
    svg {
      width: 20%;
      padding-top: 10%;
      path {
        margin-bottom: 0;
      }
    }
  }
  .color-expressjs::after,
  .color-expressjs::before {
    border-top-color: var(--color-expressjs);
    border-bottom-color: var(--color-expressjs);
  }
  .color-expressjs:hover {
    fill: var(--color-expressjs);
  }

  .color-css {
    background-color: var(--color-css);
  }
  .color-css::after,
  .color-css::before {
    border-top-color: var(--color-css);
    border-bottom-color: var(--color-css);
  }
  .color-css:hover {
    fill: var(--color-css);
  }

  .color-figma {
    background-color: var(--color-figma);
  }
  .color-figma::after,
  .color-figma::before {
    border-top-color: var(--color-figma);
    border-bottom-color: var(--color-figma);
  }
  .color-figma:hover {
    fill: var(--color-figma);
  }
}
