.content {
  position: relative;
  @include width(90%, 6em);
  overflow: hidden;
  margin: auto;
  top: 10%;
  &__container {
    font-weight: 700;
    font-size: 2vw;
    overflow: hidden;
    @extend %width;
    &:before {
      content: "[";
      left: 0;
    }
    &:after {
      content: "]";
      right: 2vw;
    }
    &:after,
    &:before {
      position: absolute;
      top: 0;
      color: $color-fond1;
      font-size: 4vw;
      animation: opacityMetier 2s ease-in-out infinite;
    }

    &__text {
      display: inline;
      float: left;
      padding-left: 7%;
    }

    &__list {
      padding-left: 25%;
      width: 100%;
      text-align: left;
      list-style: none;
      animation: change 10s ease-in-out infinite;

      &__item {
        height: 10em;
        width: 100%;
        margin: 0;
      }
    }
  }
}
