.accueil {
  @include flex(flex, column, nowrap, flex-start, center);
  @extend %width;
  max-height: 100vh;
  &_txt {
    height: 100%;
    width: 50%;
    padding-top: 10%;
    margin: auto;
    span {
      font-size: 2vw;
      font-weight: 900;
    }
    &_name,
    &_end {
      width: 100%;
      margin-top: 3vw;
    }
    &_nom {
      margin: 1.2vw;
    }
  }
  &_para {
    font-size: 1.05em;
    padding: 3%;
    box-shadow: $bshadow;
  }
}
