.accueil {
  @include flex(flex, column, nowrap, space-evenly, center);
  @extend %width;
  border-radius: 20px;
  margin: 5vw auto;
  &_tim {
    @include flex(flex, column, nowrap, space-around, center);
  }
  &_titre {
    @include flex(flex, column, nowrap, space-around, center);
    font-size: 3vw;
    font-weight: 900;
    .nom {
      margin-right: 3vw;
    }
    .metier {
      margin: 3vw;
    }
  }
  &_img {
    @include width(25vw);
    border-radius: 30px;
    box-shadow: 1.3vw 1.3vw 30px $color-fond1, -1.3vw -1.3vw 30px $color-fond3;
    img {
      @include width(80%);
      margin-top: 10%;
    }
  }
  &_nav {
    @extend %flex-around;
    padding: 0;
    width: 50%;
  }
  &_li {
    background-color: $color-primary;
    padding: 1.5vw;
    margin: 3vw;
    border-radius: 30px;
    box-shadow: $bshadow;
    background: $gradient;
    opacity: 0.8;
  }
  &_li:hover {
    opacity: 1;
    font-size: 1.7vw;
  }
}
