.accueil {
  @include flex(flex, column, nowrap, space-evenly, center);
  @extend %width;
  border-radius: 20px;
  margin: 5vw auto;
  &_name {
    font-size: 3vw;
    height: 12vw;
    width: 100%;
    font-weight: 900;
    margin-top: 5vw;
  }
  &_nom {
    margin: 1.5vw;
  }
  &_img {
    @include width(25vw);
    border-radius: 30px;
    box-shadow: $bbsadow2;
    img {
      @include width(80%);
      margin-top: 10%;
    }
  }
}
.hello {
  font-size: 5vw;
  font-weight: 900;
}
.about_txt {
  margin: 10vw auto;
  padding: 4vw;
  box-shadow: $bshadow;
}
