.reseaux {
  @include flex(flex, column, nowrap, center, center);
  width: 100%;
  &_titre {
    margin-bottom: 6vw;
    font-size: 2vw;
    text-shadow: $tshadow;
  }
  &_lien {
    @extend %flex-around;
    box-shadow: $bshadow;
    width: 100%;
    margin: auto;
    padding: 4vw;
  }
}
