@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&display=swap");
.hexagon_wrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projet_liens {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.head, #root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reseaux_lien, .projet_lang, .head ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.accueil, .projet_lang_img img, .projet_txt, .head .hexagon_wrapper, .content__container, .hexagon_wrapper2:before, .hexagon_wrapper2:after {
  width: 100%;
  height: 100%;
}

@keyframes opacityMetier {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes rotateSun {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.hexagon_wrapper {
  margin: auto;
  display: flex;
  text-align: initial;
  width: 10vw;
  height: 10vw;
}
.hexagon_wrapper2 {
  width: 46%;
  height: 80%;
  position: relative;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, rgb(0, 170, 255), rgb(23, 0, 56));
  transition: 0.5s;
}
.hexagon_wrapper2:before, .hexagon_wrapper2:after {
  content: "";
  position: absolute;
  background: inherit;
  transition: 0.5s;
  transform-origin: center;
}
.hexagon_wrapper2:before {
  transform: rotateZ(60deg);
}
.hexagon_wrapper2:after {
  transform: rotateZ(-60deg);
}
.hexagon_wrapper2:hover, .hexagon_wrapper2:hover:after, .hexagon_wrapper2:hover:before {
  border-radius: 50px;
  transition: 0.5s;
}
.hexagon_icon {
  width: 50%;
  height: 50%;
  z-index: 1;
  margin: auto;
  color: rgb(4, 1, 51);
}
.hexagon_txt1 {
  position: absolute;
  z-index: 1;
  margin: 0;
  font-size: 2.5vw;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4vw;
  height: 2vw;
  border: 0.3vw solid burlywood;
  color: rgb(88, 156, 215);
  border-radius: 1vw;
  outline: none;
  box-shadow: 0 0 1em 0.25em rgb(4, 82, 176), 0 0 4em 1em rgb(4, 82, 176);
  position: relative;
  transition: all 0.3s;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 170, 255);
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 20px;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgb(159, 200, 245);
  transition: 0.4s;
}

.sun {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 1.5vw;
  height: 1.5vw;
  animation: rotateSun 15s linear infinite;
}

.moon {
  fill: rgb(0, 170, 255);
  position: absolute;
  top: 0.15vw;
  left: 0.2vw;
  z-index: 1;
  width: 0.8vw;
  height: 1.2vw;
  animation: tilt 2.5s linear infinite;
}

.input:checked + .slider {
  background-color: rgb(4, 82, 176);
}

.input:focus + .slider {
  box-shadow: 0 0 1px rgb(4, 82, 176);
}

.input:checked + .slider:before {
  transform: translateX(2vw);
}

:root {
  /* Change this to change the appearance of the hexaons */
  --hex-width: 12vw;
  --hex-between: 3vw;
  /* Other hexagon dimentions */
  --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
  --hex-transition: all 0.2s ease;
  /* Colors */
  --color-hex-default: #000000;
  --color-hex-hover: #ffffff;
  --color-vscode: #0081dd;
  --color-figma: #000000;
  --color-mongodb: #499d4a;
  --color-css: #1572b6;
  --color-git: #000000;
  --color-lighthouse: #304ffe;
  --color-html: #e34f26;
  --color-javascript: #f7df1e;
  --color-reactjs: #00d8ff;
  --color-sass: #cc6699;
  --color-nodejs: #4fc08d;
  --color-expressjs: #f7df1e;
}

/* Hexagons */
.hexagon-competence {
  z-index: 1;
  /* Colors */
}
.hexagon-competence h2 {
  width: 20vw;
  margin: 6vw auto;
  padding: 0;
  font-size: 2vw;
}
.hexagon-competence_container {
  display: grid;
  justify-content: center;
  grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width);
  grid-auto-rows: calc(var(--hex-width) - 14.435px);
  grid-gap: var(--hex-between) var(--hex-between);
  padding-bottom: var(--hex-border);
}
.hexagon-competence_outil {
  align-items: center;
  background-color: var(--color-hex-default);
  display: flex;
  fill: white;
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width);
}
.hexagon-competence_outil img {
  height: 75%;
  transition: var(--hex-transition);
}
.hexagon-competence_outil svg {
  height: 75%;
  transition: var(--hex-transition);
}
.hexagon-competence_outil::after {
  border-top: var(--hex-border) solid var(--color-hex-default);
  top: 100%;
  width: 0;
}
.hexagon-competence_outil::after, .hexagon-competence_outil::before {
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: "";
  left: 0;
  position: absolute;
  transition: var(--hex-transition);
  width: 0;
}
.hexagon-competence_outil::before {
  border-bottom: var(--hex-border) solid var(--color-hex-default);
  bottom: 100%;
}
.hexagon-competence_outil:nth-child(8n+5), .hexagon-competence_outil:nth-child(8n+6), .hexagon-competence_outil:nth-child(8n+7), .hexagon-competence_outil:nth-child(8n+8) {
  margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}
.hexagon-competence .hexagon-competence_outil:hover {
  background-color: var(--color-hex-hover);
}
.hexagon-competence .hexagon-competence_outil:hover::after, .hexagon-competence .hexagon-competence_outil:hover::before {
  border-top-color: var(--color-hex-hover);
  border-bottom-color: var(--color-hex-hover);
}
.hexagon-competence .color-sass {
  background-color: var(--color-sass);
}
.hexagon-competence .color-sass::after,
.hexagon-competence .color-sass::before {
  border-top-color: var(--color-sass);
  border-bottom-color: var(--color-sass);
}
.hexagon-competence .color-sass:hover {
  fill: var(--color-sass);
}
.hexagon-competence .color-vscode {
  background-color: var(--color-vscode);
}
.hexagon-competence .color-vscode::after,
.hexagon-competence .color-vscode::before {
  border-top-color: var(--color-vscode);
  border-bottom-color: var(--color-vscode);
}
.hexagon-competence .color-vscode:hover {
  fill: var(--color-vscode);
}
.hexagon-competence .color-lighthouse {
  background-color: var(--color-lighthouse);
}
.hexagon-competence .color-lighthouse::after,
.hexagon-competence .color-lighthouse::before {
  border-top-color: var(--color-lighthouse);
  border-bottom-color: var(--color-lighthouse);
}
.hexagon-competence .color-lighthouse:hover {
  fill: var(--color-lighthouse);
}
.hexagon-competence .color-reactjs {
  background-color: var(--color-reactjs);
}
.hexagon-competence .color-reactjs::after,
.hexagon-competence .color-reactjs::before {
  border-top-color: var(--color-reactjs);
  border-bottom-color: var(--color-reactjs);
}
.hexagon-competence .color-reactjs:hover {
  fill: var(--color-reactjs);
}
.hexagon-competence .color-git {
  background-color: var(--color-git);
}
.hexagon-competence .color-git::after,
.hexagon-competence .color-git::before {
  border-top-color: var(--color-git);
  border-bottom-color: var(--color-git);
}
.hexagon-competence .color-git:hover {
  fill: var(--color-git);
}
.hexagon-competence .color-html {
  background-color: var(--color-html);
}
.hexagon-competence .color-html::after,
.hexagon-competence .color-html::before {
  border-top-color: var(--color-html);
  border-bottom-color: var(--color-html);
}
.hexagon-competence .color-html:hover {
  fill: var(--color-html);
}
.hexagon-competence .color-javascript {
  background-color: var(--color-javascript);
}
.hexagon-competence .color-javascript::after,
.hexagon-competence .color-javascript::before {
  border-top-color: var(--color-javascript);
  border-bottom-color: var(--color-javascript);
}
.hexagon-competence .color-javascript:hover {
  fill: var(--color-javascript);
}
.hexagon-competence .color-nodejs {
  background-color: var(--color-nodejs);
}
.hexagon-competence .color-nodejs img {
  width: 100%;
  height: 150%;
}
.hexagon-competence .color-nodejs::after,
.hexagon-competence .color-nodejs::before {
  border-top-color: var(--color-nodejs);
  border-bottom-color: var(--color-nodejs);
}
.hexagon-competence .color-nodejs:hover {
  fill: var(--color-nodejs);
}
.hexagon-competence .color-mongodb {
  background-color: var(--color-mongodb);
}
.hexagon-competence .color-mongodb svg {
  height: 130%;
}
.hexagon-competence .color-mongodb::after,
.hexagon-competence .color-mongodb::before {
  border-top-color: var(--color-mongodb);
  border-bottom-color: var(--color-mongodb);
}
.hexagon-competence .color-mongodb:hover {
  fill: var(--color-mongodb);
}
.hexagon-competence .color-expressjs {
  background-color: var(--color-expressjs);
}
.hexagon-competence .color-expressjs p {
  font-size: 0.8em;
}
.hexagon-competence .color-expressjs svg {
  width: 20%;
  padding-top: 10%;
}
.hexagon-competence .color-expressjs svg path {
  margin-bottom: 0;
}
.hexagon-competence .color-expressjs::after,
.hexagon-competence .color-expressjs::before {
  border-top-color: var(--color-expressjs);
  border-bottom-color: var(--color-expressjs);
}
.hexagon-competence .color-expressjs:hover {
  fill: var(--color-expressjs);
}
.hexagon-competence .color-css {
  background-color: var(--color-css);
}
.hexagon-competence .color-css::after,
.hexagon-competence .color-css::before {
  border-top-color: var(--color-css);
  border-bottom-color: var(--color-css);
}
.hexagon-competence .color-css:hover {
  fill: var(--color-css);
}
.hexagon-competence .color-figma {
  background-color: var(--color-figma);
}
.hexagon-competence .color-figma::after,
.hexagon-competence .color-figma::before {
  border-top-color: var(--color-figma);
  border-bottom-color: var(--color-figma);
}
.hexagon-competence .color-figma:hover {
  fill: var(--color-figma);
}

.content {
  position: relative;
  width: 90%;
  height: 6em;
  overflow: hidden;
  margin: auto;
  top: 10%;
}
.content__container {
  font-weight: 700;
  font-size: 2vw;
  overflow: hidden;
}
.content__container:before {
  content: "[";
  left: 0;
}
.content__container:after {
  content: "]";
  right: 2vw;
}
.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: rgb(4, 82, 176);
  font-size: 4vw;
  animation: opacityMetier 2s ease-in-out infinite;
}
.content__container__text {
  display: inline;
  float: left;
  padding-left: 7%;
}
.content__container__list {
  padding-left: 25%;
  width: 100%;
  text-align: left;
  list-style: none;
  animation: change 10s ease-in-out infinite;
}
.content__container__list__item {
  height: 10em;
  width: 100%;
  margin: 0;
}

.timeline .column {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem;
}
.timeline .column::before {
  content: "";
  display: block;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translatex(-50%);
  border: 1px solid rgb(0, 170, 255);
  height: 80%;
}
.timeline .column .row {
  display: flex;
  margin-top: 2vw;
  margin-bottom: 1vw;
}
.timeline .column .text {
  flex: 1 1 calc(50% - 50px);
  position: relative;
  width: 80vw;
  border-radius: 5px;
}
.timeline .column h3 {
  text-align: center;
  margin: 0;
  padding-top: 1vw;
  font-size: 1.5vw;
  border-radius: 5px 5px 0 0;
}
.timeline .column .timelineText {
  text-align: center;
  padding: 1rem;
  margin: 0;
}
.timeline .column .icon {
  flex: 1 1 100px;
}
.timeline .column .icon .hexa {
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  -moz-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  -ms-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.timeline .column .icon div {
  width: 50px;
  height: 50px;
  margin: auto;
  background: #fff;
  position: relative;
}
.timeline .column .icon div i {
  display: block;
  font-size: 1.5rem;
  color: rgb(4, 82, 176);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.timeline .column .time {
  flex: 1 1 calc(50% - 50px);
  padding-top: 1vw;
  text-shadow: 1vw 1vw 2vw rgb(4, 82, 176);
}
.timeline .column .time time {
  padding: 0.5vw;
  border-radius: 10%;
}
.timeline .column .row:nth-child(even) {
  flex-direction: row-reverse;
}
.timeline .column .row:nth-child(even) div:last-child {
  text-align: end;
}
.timeline .column .row:nth-child(even) h3::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -20px;
  border: 10px solid rgba(0, 0, 0, 0);
  border-right-color: rgb(4, 82, 176);
}
.timeline .column .row:nth-child(odd) div:last-child {
  text-align: start;
}
.timeline .column .row:nth-child(odd) h3::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -20px;
  border: 10px solid rgba(0, 0, 0, 0);
  border-left-color: rgb(4, 82, 176);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  margin: auto;
  font-family: "Merienda", "Montserrat", sans-serif;
  font-size: 1.5vw;
  text-align: center;
  overflow-x: hidden;
}

.theme_jour {
  background-color: rgba(199, 206, 218, 0.9);
  color: rgb(4, 1, 51);
}
.theme_jour a {
  color: rgb(4, 1, 51);
}
.theme_jour .hexafond {
  background: #c7e5f2;
}
.theme_jour .hexafond_row_hexagon {
  background: #6f8baf;
}
.theme_jour *:hover .hexafond_cursor {
  background: radial-gradient(circle, rgb(2, 75, 140) 40%, rgba(2, 76, 140, 0.3) 80%);
  visibility: visible;
}
.theme_jour .accueil_presentation,
.theme_jour h2 {
  text-shadow: 1vw 1vw 1vw rgb(4, 82, 176);
}
.theme_jour header,
.theme_jour .time > time,
.theme_jour .timelineText {
  background-color: rgba(199, 206, 218, 0.9);
  box-shadow: 1vw 1vw 2vw rgb(4, 82, 176);
}
.theme_jour .accueil_li,
.theme_jour .accueil_para,
.theme_jour .projet,
.theme_jour .projet_liens_lien,
.theme_jour .reseaux_lien,
.theme_jour .text h3 {
  background: linear-gradient(180deg, rgb(4, 82, 176) 10%, rgb(88, 156, 215) 100%);
}

.theme_nuit {
  background-color: rgb(4, 1, 51);
  color: rgb(159, 200, 245);
}
.theme_nuit a {
  color: rgb(159, 200, 245);
}
.theme_nuit .accueil_presentation,
.theme_nuit h2 {
  text-shadow: 1vw 1vw 1vw rgb(88, 156, 215);
}
.theme_nuit header,
.theme_nuit .time > time,
.theme_nuit .timelineText {
  background: rgba(26, 9, 49, 0.9);
  box-shadow: 1vw 1vw 2vw rgb(4, 82, 176);
}
.theme_nuit .accueil_li,
.theme_nuit .accueil_para,
.theme_nuit .projet,
.theme_nuit .projet_liens_lien,
.theme_nuit .reseaux_lien,
.theme_nuit .text h3 {
  background: linear-gradient(180deg, #190037 20%, #00031b 60%);
}

#root {
  flex-direction: column;
}

.cursorDefault {
  cursor: default;
}

ul,
ol {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 0px;
}

.head {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 5vw;
  padding-right: 2vw;
  font-size: 1em;
}
.head .hexagon {
  width: 5vw;
  height: 100%;
  margin-left: 2vw;
}
.head_menu {
  color: inherit;
  background: linear-gradient(to top, rgba(0, 0, 255, 0.5) 0%, rgba(0, 255, 242, 0.5) 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.3s;
  cursor: pointer;
}
.head_menu:hover {
  background-size: 100% 100%;
}
.head ul {
  width: 40%;
  height: 100%;
}

.proj_cards {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.proj_cards_titre {
  margin: 8vw auto;
  z-index: 1;
}
.proj_cards_bloc {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.proj_cards_bloc aside {
  width: 30%;
  margin: auto;
}

.projet {
  border-radius: 1vw;
  position: relative;
  width: 100%;
  height: 13vw;
  box-shadow: 1vw 1vw 2vw rgb(4, 82, 176);
  margin: auto;
}
.projet_tit {
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
.projet_img {
  border-radius: 1vw;
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
}
.projet_txt {
  position: absolute;
  border-radius: 1vw;
  z-index: -1;
  font-size: 1em;
  text-align: center;
  opacity: 0.95;
  margin: auto;
  padding: 1vw;
}
.projet_lang {
  position: absolute;
  right: 0;
  bottom: 2vw;
  width: 50%;
  height: 20%;
  margin: auto;
  padding: 0;
}
.projet_lang_img {
  width: 4vw;
  height: 4vw;
}
.projet_liens {
  margin: 2vw auto 8vw;
}
.projet_liens_lien {
  box-shadow: 1vw 1vw 2vw rgb(4, 82, 176);
  border-radius: 50px;
  width: 16vw;
  margin: 5px;
  transition: transform 0.15s ease-in-out;
}
.projet_liens_lien:hover {
  transform: scale(1.15);
}

.projet:hover .projet_tit {
  z-index: -1;
}
.projet:hover .projet_txt {
  z-index: 1;
}
.projet:hover .projet_img {
  z-index: -1;
}
.projet:hover .projet_lang {
  z-index: -1;
}

.accueil {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  max-height: 100vh;
}
.accueil_txt {
  height: 100%;
  width: 50%;
  padding-top: 10%;
  margin: auto;
}
.accueil_txt span {
  font-size: 2vw;
  font-weight: 900;
}
.accueil_txt_name, .accueil_txt_end {
  width: 100%;
  margin-top: 3vw;
}
.accueil_txt_nom {
  margin: 1.2vw;
}
.accueil_para {
  font-size: 1.05em;
  padding: 3%;
  box-shadow: 1vw 1vw 2vw rgb(4, 82, 176);
}

.reseaux {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
}
.reseaux_titre {
  margin: 6vw auto;
  font-size: 2vw;
}
.reseaux_lien {
  box-shadow: 1vw 1vw 2vw rgb(4, 82, 176);
  width: 100%;
  margin: auto;
  padding: 4vw;
}

@media screen and (max-width: 768px) {
  .proj_cards_bloc {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
  }
  .proj_cards_bloc aside {
    width: 70%;
    margin: auto;
  }
  .projet {
    height: 25vw;
  }
  .projet_tit {
    z-index: 1;
  }
  .projet_txt {
    visibility: visible;
    z-index: 1;
    width: 50%;
    height: 50%;
    right: 0;
    top: 5vw;
  }
  .projet_img {
    z-index: 1;
  }
  .projet_lang {
    z-index: 1;
  }
  .projet:hover .projet_tit {
    z-index: 1;
  }
  .projet:hover .projet_txt {
    z-index: 1;
  }
  .projet:hover .projet_img {
    z-index: 1;
  }
  .projet:hover .projet_lang {
    z-index: 1;
  }
  .timeline .column::before {
    left: 25px;
    height: 80%;
    top: 50px;
  }
  .timeline .column .row {
    flex-flow: column wrap;
    height: 140px;
  }
  .timeline .column .row:nth-child(even) {
    flex-direction: column;
  }
  .timeline .column .row:nth-child(even) > .time:last-child {
    text-align: start;
  }
  .timeline .column .icon {
    order: 1;
    flex: 1 1 100%;
    padding-top: 50px;
    width: 50px;
  }
  .timeline .column .icon div {
    width: 25px;
    height: 30px;
  }
  .timeline .column .icon div i {
    font-size: 1rem;
  }
  .timeline .column .time {
    order: 2;
    flex: 1 1 50px;
    width: calc(100% - 100px);
  }
  .timeline .column .text {
    order: 3;
    flex: 1 1 calc(100% - 50px);
    width: calc(100% - 100px);
  }
  .timeline .column .row:nth-child(odd) h3::before,
  .timeline .column .row:nth-child(even) h3::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -20px;
    border: 10px solid rgba(0, 0, 0, 0);
    border-right-color: black;
  }
  .timeline .column .row:nth-child(odd) h3::after {
    border: none;
  }
}
@media screen and (max-width: 450px) {
  .timeline > .column > .row {
    height: 120px;
  }
}
@media screen and (max-width: 300px) {
  .timeline .column .text {
    width: 60%;
  }
  .timeline .column .timelineText {
    font-size: 1.4em;
    padding: 2vw;
  }
  .hexagon-competence_container {
    grid-auto-rows: calc(var(--hex-width) - 2.887px);
  }
}/*# sourceMappingURL=index.css.map */