@mixin flex($dis, $dir, $wrap, $just, $align) {
  display: $dis;
  flex-flow: $dir $wrap;
  justify-content: $just;
  align-items: $align;
}

@mixin width($wi, $he: $wi) {
  width: $wi;
  height: $he;
}

// @include flex(,,,,);
// @include width(auto, 25px);
